:root {
  --pink: #ff7171;
}

.btn_trigger {
  right: 0;
  bottom: 100%;
  transform: translate(0%, 100%);
  position: absolute;
  height: 20px;
  object-fit: contain;
  padding: 0px 20px;
  background-color: var(--pink);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

.nav_button {
  display: none;
}

.collapsible_wrapper {
  width: 400px;
  position: absolute;
  right: 0px;
  top: 0%;
  left: 100%;
  transform: translateX(-100%);
  color: white;
  z-index: 10;
}

.details_wrapper {
  background-color: #14348e;
  padding: 20px;
  color: white;
}

.info_item_wrapper {
  font-size: 18px;
  display: flex;
  padding: 20px 0px;
}

.info_item_wrapper span {
  border-left: 5px solid var(--pink);
  padding: 0px 10px;
}

.compare_wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.compare_body {
  background-color: white;
  display: block;
  width: 95%;
  height: 95%;
  border-radius: 5px;
  overflow: scroll;
  text-align: left;
}

.label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  background-color: #2352d4e0;
  color: rgb(255, 239, 239);
  font-variant: small-caps;
  font-size: 25px;
  padding: 5px 20px;
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
  font-weight: 600;
  box-shadow: 1px 2px 2px 1px rgba(82, 81, 81, 0.603);
}

.floor {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  padding: 5%;
}

.block {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  padding: 0px;
}

.compare_title {
  padding: 0 20px;
  border-left: 5px solid;
  border-color: var(--pink);
}

.compare_item {
  padding: 20px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vector_blocks {
  height: 100%;
  width: 100%;
}

.vector_blocks svg {
  width: 100%;
}

.home_btn:hover {
  color: white;
  background-color: rgb(228, 158, 169);
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 600px) {
  .collapsible_wrapper {
    width: 100%;
  }

  .label {
    font-size: 20px;
    padding: 3px 15px;
  }

  .floor {
    padding: 0;
  }

  .block {
    padding: 0%;
  }

  .compare_title {
    font-size: 30px;
  }

  .compare_item {
    padding: 10px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: space-between;
  }

  .vector_blocks {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .vector_blocks svg {
    width: 600px;
  }

  .btn_trigger {
    height: 25px;
    border-radius: 10px;
    width: 90px;
  }

  .details_wrapper {
    height: 100vh;
    overflow: scroll;
  }

  .compare_body {
    padding-bottom: 30px;
  }
}
